@import url("https://fonts.googleapis.com/css?family=Raleway:100");

$green: #17d9a3;
$gray: #edeff1;

*{
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

.top-text{
	font-size: 50px;
	letter-spacing: 2px;
	color: #576671;
	font-weight: 300;
	margin-bottom: 12px;
	font-family: 'Raleway', sans-serif;
}

.content-text{
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 30px;
	color: #87949e;
	font-family: "Proxima Nova", sans-serif;
}

.green-button{
	width: 160px;
	height: 43px;
	border-radius: 23px;
	background-color: $green;
	border: 2px solid #ffffff;
	color: #ffffff;
	margin-top: 32px;
	text-align: center;	
	font-weight: bold;
}

#home{
	background: url(../img/home.png), url(../img/mult.png);
	background-blend-mode: multiply;
	color: #ffffff;
	text-align: center;
	.first{
		padding-top: 40px;
		clear: both;
		font-weight: bold;
		img{
			object-fit: cover;
		}
		ul{
			font-size: 14px;
			letter-spacing: 0px;
			line-height: 24px;
			display: flex;
			li{
				margin-right: 15px;
				a{
					color: #ffffff;
					&:hover{
						text-decoration: none;
						color: $green;
					}
					&:active{
						color: $green;
					}
				}
			}
			.search-input{
				display: none;
				border: 1px solid #00ced1;
				&:focus{
					border: 1px solid #00ced1;
				}
				input{
					padding-left: 3px;
				}
			}
		}	
	}
	.second{
		margin-top: 95px;
		i{
			margin-top: 72px;
			font-size: 50px;
		}
		.home-slides{
			span{
				font-weight: 900;
			}
			.button{
				width: 160px;
				height: 43px;
				border-radius: 23px;
				background-color: #00b6cb00;
				border: 2px solid #ffffff;
				margin: 0 auto;
				padding-top: 7px;
				font-weight: bold;
				margin-top: 40px;
			}
		}
		.circles{
			display: inline-flex;
    		margin-top: 40px;
			.circle{
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background-color: #ffffff00;
				border: 2px solid #ffffff;
				margin: 0 auto;
				margin-right: 5px;

			}
			.active-circle{
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background-color: #ffffff;
				margin: 0 auto;
				margin-right: 5px;

			}
		}
		.down-icon{
			margin-top: 100px !important;
    		margin-bottom: 25px;
    		i{
    			font-size: 25px;
    		}
		}
	}
}

#about-us{
	background-color: #ffffff;
	text-align: center;
	.first{
		margin-top: 15px;
		>div{
			margin: 0 auto;
		}
	}
	.second{
	margin-top: 70px;
		.about-us-part{
			.back-img{
				width: 150px;
				height: 150px;
				border-radius: 91px;
				color: #87939d;
				border: 1px solid #87939d47;
    			background-color: #87939d47;
				margin: 0 auto;
				padding: 42px;
				&.green{
					background-color: $green;
					border: 1px solid $green;
				}
			}
			.top_text{
				color: #000000;
				font-size: 25px;
				letter-spacing: 1px;
				font-weight: 900;
				line-height: 96px;
			}
		}
	}
	.third{
		margin-top: 20px;
    	margin-bottom: 50px;
		.button{
			margin: 0 auto;
			padding-top: 7px;
		}
	}
}

#photo{
	background-color: $gray;
	.row>div{
		margin-top: 30px;
		.button{
    		margin-bottom: 60px;
			padding-top: 7px;
		}
	}
}

#mac{
	.row>div{
		margin-top: 30px;
		.button{
    		margin-bottom: 60px;
			padding-top: 7px;
		}
	}
}

#opinions{
	background: url(../img/opinion.png);
	color: #ffffff;
	text-align: center;
	i{
		margin-top: 268px;
		font-size: 50px;
	}
	>div>div{
		.home-slides{
		    margin-top: 90px;
			.img{
				img{
					width: 90px;
					height: 90px;
				    border-radius: 50%;
				    padding: 1px;
				}
			}
			.top_text{
				font-size: 25px;
				letter-spacing: 1px;
				line-height: 96px;
				margin-top: 45px;
				span{
					font-weight: bolder;
					color: $green;
				}
			}
		}
	}
	.circles{
		display: inline-flex;
    	margin-top: 40px;
    	margin-bottom: 56px;
		.circle{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #ffffff00;
			border: 2px solid #ffffff;
			margin: 0 auto;
			margin-right: 5px;
		}
		.active-circle{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #ffffff;
			margin: 0 auto;
			margin-right: 5px;
		}
	}
}

#team{
	background-color: #ffffff;
	text-align: center;
	.first{
		margin-top: 15px;
		display: inline-block;
		>div{
			margin: 0 auto;
		}
		.line-div{
			padding-left: 46%;
			.line{
				width: 50px;
				border-top: 1px solid $green;
				margin: 15px 0px;
			}
		}
	}
	.second{
		margin-top: 50px;
		position: relative;
		.back-img{
			object-fit: cover;
			width: 100%;
    		height: 100%;
		}
		.front-img{
			position: absolute;
    		left: 20%;
    		bottom: 0%;
    		width: 20%;
    		height: 50%;
		}
	}
}

#map{
	.first{
		margin-top: 45px;
		padding-left: 120px;
		.button{
    		margin-bottom: 60px;
			padding-top: 7px;
		}
	}
	.second{
		margin-top: 15px;
		img{
			object-fit: cover;
			width: 100%;
    		height: 100%;
		}
	}
}
