@import url("https://fonts.googleapis.com/css?family=Raleway:100");

$green: #17d9a3;
$gray: #edeff1a8;

*{
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

i:hover{
	cursor: pointer;
	color: $green;
}

.top-text{
	font-size: 50px;
	letter-spacing: 2px;
	color: #576671;
	font-weight: 300;
	margin-bottom: 12px;
	font-family: 'Raleway', sans-serif;
}

.content-text{
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 30px;
	color: #87949e;
	font-family: "Proxima Nova", sans-serif;
}

.green-button{
	width: 160px;
	height: 43px;
	border-radius: 23px;
	background-color: $green;
	border: 2px solid #ffffff;
	color: #ffffff;
	margin-top: 32px;
	text-align: center;	
	font-weight: bold;
	&:hover{
		cursor: pointer;
	}
	a{
		color: #ffffff;
		text-decoration: none;
		&:link{
			color: #ffffff;
			text-decoration: none;
		}
		&:hover{
			color: #ffffff;
			text-decoration: none;
		}
	}
}

#home{

	background: url(../img/home.png), url(../img/mult.png);
	background-blend-mode: multiply;
	color: #ffffff;
	text-align: center;
	.first{
		padding-top: 40px;
		clear: both;
		font-weight: bold;
		img{
			object-fit: cover;
		}
		ul{
			font-size: 14px;
			letter-spacing: 0px;
			line-height: 24px;
			display: flex;
			li{
				margin-right: 15px;
				a{
					color: #ffffff;
					&:hover{
						text-decoration: none;
						color: $green;
					}
					&:active{
						color: $green;
					}
				}
			}
			.search-input{
				display: none;
				&:focus{
					border: 1px solid $green;
				}
				input{
					padding-left: 3px;
				}
			}
		}	
	}
	.second{
		margin-top: 95px;
		i{
			margin-top: 72px;
			font-size: 50px;
		}
		.home-slides{
			span{
				font-weight: 900;
			}
			.button{
				width: 160px;
				height: 43px;
				border-radius: 23px;
				background-color: #00b6cb00;
				border: 2px solid #ffffff;
				margin: 0 auto;
				padding-top: 7px;
				font-weight: bold;
				margin-top: 40px;
				a{
				 color: #ffffff;
				 text-decoration: none;
				 &:hover{
				 text-decoration: none;
				 color: $green;
				 }
				 &:link{
				 text-decoration: none;
				 color: #ffffff;
				 }
				}
			}
		}
		.circles{
			display: inline-flex;
    		margin-top: 40px;
			.circle{
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background-color: #ffffff00;
				border: 2px solid #ffffff;
				margin: 0 auto;
				margin-right: 5px;
			}
			.active-circle{
				width: 10px;
				height: 10px;
				border-radius: 5px;
				background-color: #ffffff;
				margin: 0 auto;
				margin-right: 5px;
			}
		}
		.down-icon{
			margin-top: 100px !important;
    		margin-bottom: 25px;
    		i{
    			font-size: 25px;
    		}
		}
	}
}

#about-us{
	background-color: #ffffff;
	text-align: center;
	.first{
		margin-top: 15px;
		display: inline-block;
		>div{
			margin: 0 auto;
		}
		.line-div{
			padding-left: 46%;
			.line{
				width: 50px;
				border-top: 1px solid $green;
				margin: 15px 0px;
			}
		}
	}
	.second{
	margin-top: 70px;
		.about-us-part{
			.back-img{
				width: 150px;
				height: 150px;
				border-radius: 91px;
				color: #87939d;
				border: 1px solid #87939d47;
    			background-color: #87939d47;
				margin: 0 auto;
				padding: 42px;
				&.green{
					background-color: $green;
					border: 1px solid $green;
				}
				.first{
				background: url(../img/about-1.png);
				}
				.second{
				background: url(../img/about-2.png);
				}
				.third{
				background: url(../img/about-3.png);
				}
				.fourth{
				background: url(../img/about-4.png);
				}
			}
			.top_text{
				color: #000000;
				font-size: 25px;
				letter-spacing: 1px;
				font-weight: 900;
				line-height: 96px;
			}
		}
	}
	.third{
		margin-top: 20px;
    	margin-bottom: 50px;
		.button{
			margin: 0 auto;
			padding-top: 7px;
		}
	}
}

#photo{
	background-color: $gray;
	.row>div{
		margin-top: 30px;
		.button{
    		margin-bottom: 60px;
			padding-top: 7px;
		}
	}
}

#mac{
	.row>div{
		margin-top: 30px;
		.button{
    		margin-bottom: 60px;
			padding-top: 7px;
		}
	}
}

#opinions{
	background: url(../img/opinion.png);
	color: #ffffff;
	text-align: center;
	i{
		margin-top: 268px;
		font-size: 50px;
	}
	>div>div{
		.home-slides{
		    margin-top: 90px;
			.img{
				img{
					width: 90px;
					height: 90px;
				    border-radius: 50%;
				    padding: 1px;
				}
			}
			.top_text{
				font-size: 25px;
				letter-spacing: 1px;
				line-height: 96px;
				margin-top: 45px;
				span{
					font-weight: bolder;
					color: $green;
				}
			}
		}
	}
	.circles{
		display: inline-flex;
    	margin-top: 40px;
    	margin-bottom: 56px;
		.circle{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #ffffff00;
			border: 2px solid #ffffff;
			margin: 0 auto;
			margin-right: 5px;
		}
		.active-circle{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #ffffff;
			margin: 0 auto;
			margin-right: 5px;
		}
	}
}

#services{
	background-color: $gray;
	text-align: center;
	.first{
		margin-top: 15px;
		display: inline-block;
		>div{
			margin: 0 auto;
		}
		.line-div{
			padding-left: 46%;
			.line{
				width: 50px;
				border-top: 1px solid $green;
				margin: 15px 0px;
			}
		}
	}
	.second{
		margin-top: 50px;
		padding-bottom: 40px;
		text-align: left;
		.media{
			padding-bottom: 30px;
			.media-img{
		    	width: 80px;
    			height: 80px;
    			position: relative;
    			.back-img{
    				position: relative;
    				width: 100%;
    				height: 100%;
    			}
    			.front-img{
    				position: absolute;
    				top: 25px;
    				left: 25px;
    			}
			}
		}
	}
}

#team{
	background-color: #ffffff;
	text-align: center;
	.first{
		margin-top: 15px;
		display: inline-block;
		>div{
			margin: 0 auto;
		}
		.line-div{
			padding-left: 46%;
			.line{
				width: 50px;
				border-top: 1px solid $green;
				margin: 15px 0px;
			}
		}
	}
	.second{
		margin-top: 50px;
		position: relative;
		.back-img{
			object-fit: cover;
			width: 100%;
    		height: 100%;
		}
		.front-img{
			position: absolute;
    		left: 20%;
    		bottom: 0%;
    		width: 20%;
    		height: 50%;
		}
	}
}

#pricing{
	background-color: $gray;
	text-align: center;
	.first{
		margin-top: 15px;
		display: inline-block;
		>div{
			margin: 0 auto;
		}
		.line-div{
			padding-left: 46%;
			.line{
				width: 50px;
				border-top: 1px solid $green;
				margin: 15px 0px;
			}
		}
	}
	.second{
		text-align: left;
		margin-top: 70px;
		>div{
			background-color: $gray;
			border-radius: 5px;
	    	box-shadow: 0 0 35px #e3e3e3a6;
	    	margin-bottom: 70px;
			.license-type{
				padding: 0px 15px;
				background-color: #ffffff;
	    		.price{
	    			color: $green;
	    			margin-top: 20px;
	    		}
	    		.license-name{
	    			color: #b8bfc5;
	    			margin-bottom: 40px;
	    		}
	    		.license-content{
	    		    margin: 40px 0px;
	    		}
	    		.purchase{
	    			background-color: $green;
					border: 1px solid $green;
					width: 100%;
					color: #ffffff;
					font-weight: bold;
					height: 42px;
	    			padding: 8px;
					&:hover{
						cursor: pointer;
					}
					span{
						float: right;
					}
	    		}
	    		.line{
	    			border-top: 1px solid $gray;
	    		}
	    	}
		}
	}
}

#map{
	.first{
		margin-top: 45px;
		padding-left: 120px;
		.button{
    		margin-bottom: 60px;
			padding-top: 7px;
		}
	}
	.second{
		margin-top: 15px;
		img{
			object-fit: cover;
			width: 100%;
    		height: 100%;
		}
	}
}

#try{
	background: url(../img/try.png);
	background-repeat: round;
	text-align: center;
	.row{
		margin: 0 auto;
		display: inline-flex;
	}
	span{
		font-weight: 900;
	}
	.button{
		padding: 8px;
    	margin: 0 auto;
   		margin-bottom: 135px;
   		border-color: $green;
	}
	.top-text{
	    margin-top: 100px;
    	margin-bottom: 75px;
	}

}

#footer{
	background: url(../img/footer.png);
	height: 446px;
    background-repeat: round;
	.row>div{
		margin-top: 20px;
		img{
		    width: 30px;
    		height: 30px;
    		margin-right: 10px;
		}
		ul{
			display: flex;
			float: right;
			li{
			margin-right: 15px;
			a{
				color: #87949e;
				&:hover{
					text-decoration: none;
					color: $green;
				}
				&:active{
					color: $green;
				}
			}
			}
		}
	}
}


#side{
	position: relative;
	font-size:16px;
	.scroll-top{
		display: none;
	    width: 50px;
	    height: 50px;
	    text-align: center;
	    border-radius: 100%;
	    background: $green;
	    color: #ffffff;
	    font-size: 22px;
	    position: fixed;
	    transition: all 0.3s ease-in-out;
	    bottom: -60px;
	    right: 30px;
	    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.2);
	    z-index: 10;
	    cursor: pointer;
	}
	.button {
	    background-color: $green;
	    color: #ffffff;
	    padding: 10px;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;
	    width: 45px;
	}
	i:hover{
		cursor: pointer;
		color: #ffffff;
	}

	.dropdown {
	    position: relative;
	    display: none;
	    position: fixed;
	    z-index: 5;
	}
	.list {
	    display: none;
	    position: absolute;
	    padding-top: 48px;
	    position: fixed;
	    left: 0;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    overflow-y: auto;
   		overflow-x: hidden;
	    a{
	    	color: black;
		    padding: 12px 16px;
		    font-weight: 900;
		    text-decoration: none;
		    display: block;
		    &:hover{
		    	background-color: #f1f1f1
		    }
	    }
	}
	.list:hover .list {
	    display: block;
	}



	.dropdown:active .list{
		display: block;
	}
}